# ディレクトリ
/node_modules
/public/hot
/public/storage
**/vendor

# ファイル
.env
.env.backup
.phpunit.result.cache
/storage/*.key
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php-cs-fixer.cache
